* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f0f0f0; */
    color: #333;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper_navbar_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    height: 1px;
}

.text1_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.text2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.buyurtma {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #8B8E99;

}

.savol__javob {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.savol__img {
    display: flex;
    gap: 10px;
}

.savol {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #595B66;
}

.savol1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.wrapper_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.submit {
    width: 120px;
    height: 40px;
    padding-right: 18.2px;
    padding-left: 18.2px;
    border-radius: 4px;
    background: #F0F0FF;
    color: #333;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.08px;
    color: #7000FF;
    text-align: center;
    border: none;
    cursor: pointer;


}

.search_wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.search_wrapper button {
    font-size: 14px;
    padding: 10px 18px;
    max-height: 40px;
    color: #7000ff;
    background: #f0f0ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.search_wrapper form {
    max-height: 40px;
    border: 1px solid #36364033;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.search_wrapper form input {
    height: 100%;
    font-size: 14px;
    padding: 10px 1rem;
    border: none;
    background: #ffffff;
    width: 400px;
}

.search_wrapper form button {
    background: #f2f4f7;
    color: #595b66;
    font-size: 14px;
    padding: 10px 1rem;
    height: 100%;
    border: none;
    cursor: pointer;
    ;

}

.text2_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.kirish {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.saralanganlar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.savatcha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrapper_navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 50px;
}

.text3_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.texttile {
    font-weight: 600;
    font-size: 12.8px;
    line-height: 15.36px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.mudatli__tolovlar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yana {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mudatli__tolovlar {
    gap: 10px;
}

.text3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #595B66;


}

.imeg {
    margin: 0 auto;
    position: relative;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.btn1 {
    position: absolute;
    left: 40px;
    bottom: 44%;
}

.btn2 {
    position: absolute;
    right: 40px;
    top: 46%;
    bottom: 50%;
    transform: translateY(-50%, -50%);
}